.screen__footer {
    transform: translateY(100%);
    transition: all 1s cubic-bezier(0,1.09,1,1) 0s;
}
.social-block__toggler::before {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.5s cubic-bezier(0, 0, 0.5, 2) 0s;
}
.load {
  .screen__footer {
    transform: translateY(0%)
  }
  header, nav {
    @include animation;
  }
  .social-block__toggler::before {
    transform: translate(-50%, -50%) scale(1);
  }
}